.task[b-teagcfldk1] {
    display: flex;
    background-color: #ffffff;
    align-items: center;
    padding: 5px 8px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 8px;
    width: 100%;
    border-radius: 5px;
    transition: border-color 1s ease-out, box-shadow 1s ease-out;
}

.task.editing[b-teagcfldk1] {
    border-color: #d20000;
    box-shadow: 0 2px 7px rgba(255, 0, 0, 0.4);
    transition: border-color 0.15s ease-out, box-shadow 0.15s ease-out;
}

.task.saved[b-teagcfldk1] {
    border-color: #00d200;
    box-shadow: 0 2px 7px rgba(0, 255, 0, 0.4);
    transition: border-color 0s ease-out, box-shadow 0s ease-out;
}

.task.completed .task-text[b-teagcfldk1] {
    text-decoration: line-through;
    font-style: italic;
    color: #919191;
}

.task-checkbox[b-teagcfldk1] {
    background-color: rgba(255, 255, 255, 0);
    color: rgb(75, 190, 136);
    border: none;
    padding: 3px 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    margin: 4px 0 4px 0;
    cursor: pointer;
    border-radius: 5px;
    height: 33px;
    width: 33px;
    
}

.task-checkbox:hover[b-teagcfldk1] {
    background-color: rgba(0, 0, 0, 0.06);
}

.task-checkbox:active[b-teagcfldk1] {
    background-color: rgba(0, 0, 0, 0.12);
}

.task-text[b-teagcfldk1] {
    flex-grow: 1;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 5px;
    font-size: 16px;
    height: 33px;
    line-height: 33px;
    padding-left: 7px;
}

.task-text:hover[b-teagcfldk1] {
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.task-text:focus[b-teagcfldk1] {
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

.task-button[b-teagcfldk1] {
    background-color: rgba(255, 255, 255, 0);
    color: #757575;
    border: none;
    padding: 4px 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    margin: 4px 0 4px 0;
    cursor: pointer;
    border-radius: 5px;
    height: 33px;
    width: 33px;
    opacity: 0;
    transition: opacity 0.15s ease-in-out;
}

.task-button:hover[b-teagcfldk1] {
    background-color: rgb(197, 0, 0);
    color: white;
}

.task-button:active[b-teagcfldk1] {
    background-color: rgb(231, 0, 0);
    color: white;
}

.task:hover .task-button[b-teagcfldk1] {
    opacity: 1;
}

.visually-hidden[b-teagcfldk1] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}