.list[b-y6sufzfpjw] {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
}

.list button[b-y6sufzfpjw] {
    display: inline-block;
    background-color: #232323;
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 0 0 8px 0;
    cursor: pointer;
    border-radius: 5px;
    height: 33px;
}

.list button:hover[b-y6sufzfpjw] {
    background-color: #4f4f4f;
}