.todo-list[b-y6sufzfpjw] {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
}

.filter-button[b-y6sufzfpjw] {
    background-color: rgba(255, 255, 255, 0);
    color: #656565;
    border: none;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    text-align: left;
    text-decoration: none;
    font-size: 14px;
    margin: 0 0 5px 0;
    cursor: pointer;
    border-radius: 5px;
    height: 33px;
    width: 185px;
}

.filter-button:hover[b-y6sufzfpjw] {
    background-color: rgba(0, 0, 0, 0.04);
}

.filter-button:active[b-y6sufzfpjw] {
    background-color: rgba(0, 0, 0, 0.08);
}

.filters[b-y6sufzfpjw] {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 5px 0 5px 0;
}

@keyframes fadeIn-b-y6sufzfpjw {
    from { opacity: 0; }
    to { opacity: 1; }
}

.fade-in[b-y6sufzfpjw] {
    animation: fadeIn-b-y6sufzfpjw 0.1s ease-in-out 0.08s forwards;
}