/* _content/ToDoList_Front/Components/Layout/MainLayout.razor.rz.scp.css */
.page[b-1xjj62kv44] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-1xjj62kv44] {
    flex: 1;
}

.sidebar[b-1xjj62kv44] {
    background-image: linear-gradient(180deg, rgb(35, 35, 35) 0%, rgb(35, 35, 35) 70%);
}

@media (min-width: 641px) {
    .page[b-1xjj62kv44] {
        flex-direction: row;
    }

    .sidebar[b-1xjj62kv44] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }
}

#blazor-error-ui[b-1xjj62kv44] {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss[b-1xjj62kv44] {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
/* _content/ToDoList_Front/Components/Layout/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-tggd4cpv95] {
    appearance: none;
    cursor: pointer;
    width: 3.5rem;
    height: 2.5rem;
    color: white;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") no-repeat center/1.75rem rgba(255, 255, 255, 0.1);
}

.navbar-toggler:checked[b-tggd4cpv95] {
    background-color: rgba(255, 255, 255, 0.5);
}

.top-row[b-tggd4cpv95] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-tggd4cpv95] {
    font-size: 1.1rem;
}

.bi[b-tggd4cpv95] {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.bi-house-door-fill-nav-menu[b-tggd4cpv95] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-house-door-fill' viewBox='0 0 16 16'%3E%3Cpath d='M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z'/%3E%3C/svg%3E");
}

.bi-plus-square-fill-nav-menu[b-tggd4cpv95] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-plus-square-fill' viewBox='0 0 16 16'%3E%3Cpath d='M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z'/%3E%3C/svg%3E");
}

.bi-list-nested-nav-menu[b-tggd4cpv95] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-list-nested' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");
}

.nav-item[b-tggd4cpv95] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

.nav-item:first-of-type[b-tggd4cpv95] {
    padding-top: 1rem;
}

.nav-item:last-of-type[b-tggd4cpv95] {
    padding-bottom: 1rem;
}

.nav-item[b-tggd4cpv95]  .nav-link {
    color: #d7d7d7;
    background: none;
    border: none;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
    width: 100%;
}

.nav-item[b-tggd4cpv95]  a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item[b-tggd4cpv95]  .nav-link:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.nav-scrollable[b-tggd4cpv95] {
    display: none;
}

.navbar-toggler:checked ~ .nav-scrollable[b-tggd4cpv95] {
    display: block;
}

@media (min-width: 641px) {
    .navbar-toggler[b-tggd4cpv95] {
        display: none;
    }

    .nav-scrollable[b-tggd4cpv95] {
        /* Never collapse the sidebar for wide screens */
        display: block;

        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
/* _content/ToDoList_Front/Components/Pages/GateTimer.razor.rz.scp.css */
.page[b-0luzft0ica] {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box[b-0luzft0ica] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 250px;
    padding: 6px 10px 10px 10px;

    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.box.openNow[b-0luzft0ica] {
    border-color: #00c0d2;
    box-shadow: 0 2px 7px rgba(0, 225, 255, 0.4);
}

.box.soonOpen[b-0luzft0ica] {
    border-color: #d29700;
    box-shadow: 0 2px 7px rgba(255, 174, 0, 0.4);
}

p[b-0luzft0ica] {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.timeToOpen[b-0luzft0ica] {
    height: 58px;
    font-size: 2.4em;
    font-weight: bold;
    margin-bottom: -8px;
}

p.openNow[b-0luzft0ica] {
    height: 58px;
    font-size: 1.6em;
    font-weight: bold;
    margin-bottom: -8px;
}

.currentTime[b-0luzft0ica] {
    font-size: 1.5em;
    color: #757575;
}

.description[b-0luzft0ica] {
    margin-top: 12px;
    font-size: 0.92em;
    color: #ababab;
}
/* _content/ToDoList_Front/Components/Pages/TodoList/CreateItem.razor.rz.scp.css */
.add-task[b-0in6nxdb12] {
    display: flex;
    background-color: #ffffff;
    align-items: center;
    padding: 5px 8px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 8px;
    width: 100%;
    border-radius: 5px;
    transition: border-color 1s ease-out, box-shadow 1s ease-out;
}

.add-task-text[b-0in6nxdb12] {
    flex-grow: 1;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 5px;
    font-size: 16px;
    height: 33px;
    line-height: 33px;
    padding-left: 7px;
}

.add-task-text:hover[b-0in6nxdb12] {
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.add-task-text:focus[b-0in6nxdb12] {
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

.add-task-button[b-0in6nxdb12] {
    background-color: rgba(255, 255, 255, 0);
    color: #757575;
    border: none;
    padding: 4px 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    margin: 4px 0 4px 0;
    cursor: pointer;
    border-radius: 5px;
    height: 33px;
    width: 33px;
}

.add-task-button:hover[b-0in6nxdb12] {
    background-color: rgba(0, 0, 0, 0.06);
}

.add-task-button:active[b-0in6nxdb12] {
    background-color: rgba(0, 0, 0, 0.12);
}
/* _content/ToDoList_Front/Components/Pages/TodoList/ListItem.razor.rz.scp.css */
.task[b-teagcfldk1] {
    display: flex;
    background-color: #ffffff;
    align-items: center;
    padding: 5px 8px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 8px;
    width: 100%;
    border-radius: 5px;
    transition: border-color 1s ease-out, box-shadow 1s ease-out;
}

.task.editing[b-teagcfldk1] {
    border-color: #d20000;
    box-shadow: 0 2px 7px rgba(255, 0, 0, 0.4);
    transition: border-color 0.15s ease-out, box-shadow 0.15s ease-out;
}

.task.saved[b-teagcfldk1] {
    border-color: #00d200;
    box-shadow: 0 2px 7px rgba(0, 255, 0, 0.4);
    transition: border-color 0s ease-out, box-shadow 0s ease-out;
}

.task.completed .task-text[b-teagcfldk1] {
    text-decoration: line-through;
    font-style: italic;
    color: #919191;
}

.task-checkbox[b-teagcfldk1] {
    background-color: rgba(255, 255, 255, 0);
    color: rgb(75, 190, 136);
    border: none;
    padding: 3px 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    margin: 4px 0 4px 0;
    cursor: pointer;
    border-radius: 5px;
    height: 33px;
    width: 33px;
    
}

.task-checkbox:hover[b-teagcfldk1] {
    background-color: rgba(0, 0, 0, 0.06);
}

.task-checkbox:active[b-teagcfldk1] {
    background-color: rgba(0, 0, 0, 0.12);
}

.task-text[b-teagcfldk1] {
    flex-grow: 1;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 5px;
    font-size: 16px;
    height: 33px;
    line-height: 33px;
    padding-left: 7px;
}

.task-text:hover[b-teagcfldk1] {
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.task-text:focus[b-teagcfldk1] {
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

.task-button[b-teagcfldk1] {
    background-color: rgba(255, 255, 255, 0);
    color: #757575;
    border: none;
    padding: 4px 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    margin: 4px 0 4px 0;
    cursor: pointer;
    border-radius: 5px;
    height: 33px;
    width: 33px;
    opacity: 0;
    transition: opacity 0.15s ease-in-out;
}

.task-button:hover[b-teagcfldk1] {
    background-color: rgb(197, 0, 0);
    color: white;
}

.task-button:active[b-teagcfldk1] {
    background-color: rgb(231, 0, 0);
    color: white;
}

.task:hover .task-button[b-teagcfldk1] {
    opacity: 1;
}

.visually-hidden[b-teagcfldk1] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
/* _content/ToDoList_Front/Components/Pages/TodoList/TodoList.razor.rz.scp.css */
.todo-list[b-y6sufzfpjw] {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
}

.filter-button[b-y6sufzfpjw] {
    background-color: rgba(255, 255, 255, 0);
    color: #656565;
    border: none;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    text-align: left;
    text-decoration: none;
    font-size: 14px;
    margin: 0 0 5px 0;
    cursor: pointer;
    border-radius: 5px;
    height: 33px;
    width: 185px;
}

.filter-button:hover[b-y6sufzfpjw] {
    background-color: rgba(0, 0, 0, 0.04);
}

.filter-button:active[b-y6sufzfpjw] {
    background-color: rgba(0, 0, 0, 0.08);
}

.filters[b-y6sufzfpjw] {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 5px 0 5px 0;
}

@keyframes fadeIn-b-y6sufzfpjw {
    from { opacity: 0; }
    to { opacity: 1; }
}

.fade-in[b-y6sufzfpjw] {
    animation: fadeIn-b-y6sufzfpjw 0.1s ease-in-out 0.08s forwards;
}
