/* _content/ToDoList_Front/Components/Layout/MainLayout.razor.rz.scp.css */
.page[b-1xjj62kv44] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-1xjj62kv44] {
    flex: 1;
}

.sidebar[b-1xjj62kv44] {
    background-image: linear-gradient(180deg, rgb(35, 35, 35) 0%, rgb(35, 35, 35) 70%);
}

@media (min-width: 641px) {
    .page[b-1xjj62kv44] {
        flex-direction: row;
    }

    .sidebar[b-1xjj62kv44] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }
}

#blazor-error-ui[b-1xjj62kv44] {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss[b-1xjj62kv44] {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
/* _content/ToDoList_Front/Components/Layout/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-tggd4cpv95] {
    appearance: none;
    cursor: pointer;
    width: 3.5rem;
    height: 2.5rem;
    color: white;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") no-repeat center/1.75rem rgba(255, 255, 255, 0.1);
}

.navbar-toggler:checked[b-tggd4cpv95] {
    background-color: rgba(255, 255, 255, 0.5);
}

.top-row[b-tggd4cpv95] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-tggd4cpv95] {
    font-size: 1.1rem;
}

.bi[b-tggd4cpv95] {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.bi-house-door-fill-nav-menu[b-tggd4cpv95] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-house-door-fill' viewBox='0 0 16 16'%3E%3Cpath d='M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z'/%3E%3C/svg%3E");
}

.bi-plus-square-fill-nav-menu[b-tggd4cpv95] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-plus-square-fill' viewBox='0 0 16 16'%3E%3Cpath d='M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z'/%3E%3C/svg%3E");
}

.bi-list-nested-nav-menu[b-tggd4cpv95] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-list-nested' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");
}

.nav-item[b-tggd4cpv95] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

.nav-item:first-of-type[b-tggd4cpv95] {
    padding-top: 1rem;
}

.nav-item:last-of-type[b-tggd4cpv95] {
    padding-bottom: 1rem;
}

.nav-item[b-tggd4cpv95]  .nav-link {
    color: #d7d7d7;
    background: none;
    border: none;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
    width: 100%;
}

.nav-item[b-tggd4cpv95]  a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item[b-tggd4cpv95]  .nav-link:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.nav-scrollable[b-tggd4cpv95] {
    display: none;
}

.navbar-toggler:checked ~ .nav-scrollable[b-tggd4cpv95] {
    display: block;
}

@media (min-width: 641px) {
    .navbar-toggler[b-tggd4cpv95] {
        display: none;
    }

    .nav-scrollable[b-tggd4cpv95] {
        /* Never collapse the sidebar for wide screens */
        display: block;

        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
/* _content/ToDoList_Front/Components/Pages/TodoList/CreateItem.razor.rz.scp.css */
.add-task[b-0in6nxdb12] {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 8px;
    width: 100%;
    border-radius: 5px;
    transition: border-color 1s ease-out, box-shadow 1s ease-out;
}

.add-task .add-task-text[b-0in6nxdb12] {
    flex-grow: 1;
    margin-right: 10px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    font-size: 16px;
    height: 33px;
    transition: border 0.15s ease-in-out;
}

.add-task:hover .add-task-text[b-0in6nxdb12] {
    border: 1px solid #b9b9b9;
}

.add-task .add-task-button[b-0in6nxdb12] {
    display: inline-block;
    background-color: #21b76d;
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 0 4px 0;
    cursor: pointer;
    border-radius: 5px;
    height: 33px;
}

.add-task .add-task-button:hover[b-0in6nxdb12] {
    background-color: #54ce81;
}
/* _content/ToDoList_Front/Components/Pages/TodoList/ListItem.razor.rz.scp.css */
.task[b-teagcfldk1] {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 8px;
    width: 100%;
    border-radius: 5px;
    transition: border-color 1s ease-out, box-shadow 1s ease-out;
}

.task.editing[b-teagcfldk1] {
    border-color: red;
    box-shadow: 0 2px 7px rgba(255, 0, 0, 0.45);
    transition: border-color 0.15s ease-out, box-shadow 0.15s ease-out;
}

.task.saved[b-teagcfldk1] {
    border-color: #00ff00;
    box-shadow: 0 2px 7px rgba(0, 255, 0, 0.45);
    transition: border-color 0s ease-out, box-shadow 0s ease-out;
}

.task .task-checkbox[b-teagcfldk1] {
    margin-right: 10px;
    margin-left: 3px;
    transform: scale(1.5);
}

.task .task-text[b-teagcfldk1] {
    flex-grow: 1;
    margin-right: 10px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    font-size: 16px;
    height: 33px;
    transition: border 0.15s ease-in-out;
}

.task .task-text:focus[b-teagcfldk1] {
    border: 1px solid #b9b9b9;
}

.task:hover .task-text[b-teagcfldk1] {
    border: 1px solid #b9b9b9;
}

.task .task-button[b-teagcfldk1] {
    display: inline-block;
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 0 4px 0;
    cursor: pointer;
    border-radius: 5px;
    height: 33px;
    opacity: 0;
    transition: opacity 0.15s ease-in-out;
}

.task:hover .task-button[b-teagcfldk1] {
    opacity: 1;
}

.task .task-button:hover[b-teagcfldk1] {
    background-color: #fa665c;
}
/* _content/ToDoList_Front/Components/Pages/TodoList/TodoList.razor.rz.scp.css */
.todo-list[b-y6sufzfpjw] {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
}

.todo-list .filter-button[b-y6sufzfpjw] {
    display: inline-block;
    background-color: #2a2a2a;
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 0 0 8px 0;
    cursor: pointer;
    border-radius: 5px;
    height: 33px;
    width: 140px;
}

.todo-list .filter-button.inactive[b-y6sufzfpjw] {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #1a1a1a;
}

.todo-list .filter-button.inactive:hover[b-y6sufzfpjw] {
    background-color: #ececec;
}

.todo-list .filter-button:hover[b-y6sufzfpjw] {
    background-color: #3d3d3d;
}

.filters[b-y6sufzfpjw] {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 7px 0 7px 0;
}
