.page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.darkmode {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    align-self: flex-start;
    position: absolute;
    top: 0;
    left: 0;
    
    width: 36px;
    height: 36px;
    padding: 8px;
    border-radius: 6px;
    cursor: pointer;
}

.darkmode i {
    font-size: 1.2em;
    margin-top: 2px;
}

.darkmode:hover {
    background-color: rgba(0, 0, 0, 0.04);
}

.darkmode:active {
    background-color: rgba(0, 0, 0, 0.08);
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 205px;
    height: 85px;
    padding: 6px 10px 10px 10px;

    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.box.openNow {
    border-color: #00c0d2;
    box-shadow: 0 2px 7px rgba(0, 225, 255, 0.4);
}

.box.soonOpen {
    border-color: #d29700;
    box-shadow: 0 2px 7px rgba(255, 174, 0, 0.4);
}

p {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.timeToOpen {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: -8px;
    color: #111111;
}

.minLeft {
    height: 24px;
    font-size: 1em;
}

p.openNow {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 4px;
    color: #111111;
}

.time {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 4px 10px 4px 10px;
    margin-top: 8px;
    border-radius: 5px;
    gap: 6px;
    cursor: pointer;    
}

.time:hover {
    background-color: rgba(0, 0, 0, 0.04);
}

.time:active {
    background-color: rgba(0, 0, 0, 0.08);
}

.bi {
    color: #656565;
}

.bi-bell-slash-fill {
    color: #b00707;
}

.bi-bell-fill {
    margin-top: 1px;
}

.bi-sun-fill {
    color: #b6b6b6;
}

.currentTime {
    font-size: 1em;
    margin-top: 1px;
    color: #505050;

    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

/* Dark mode */

.box.dark {
    background-color: rgba(255, 255, 255, 0.08);
    border-color: rgba(255, 255, 255, 0.16);
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0);
}

.box.openNow.dark {
    border-color: #00c0d2;
    box-shadow: 0 2px 7px rgba(0, 225, 255, 0);
}

.box.soonOpen.dark {
    border-color: #d29700;
    box-shadow: 0 2px 7px rgba(255, 174, 0, 0);
}

p.dark {
    color: #fff;
}

.time.dark {
    background-color: rgba(255, 255, 255, 0);
}

.time.dark:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.time.dark:active {
    background-color: rgba(255, 255, 255, 0.2);
}

.darkmode.dark {
    background-color: rgba(255, 255, 255, 0);
}

.darkmode.dark:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.darkmode.dark:active {
    background-color: rgba(255, 255, 255, 0.2);
}

.bi.dark {
    color: #fff;
}

.bi-bell-slash-fill.dark {
    color: #d26c6c;
}

.bi-bell-fill.dark {
    color: #c5c5c5;
}

.bi-moon-stars-fill {
    color: #656565;
}

.currentTime.dark {
    color: #dadada;
}