@page "/history"
@using ToDoList_Front.Clients
@using FeatureHubSDK
@rendermode InteractiveServer
@inject EdgeFeatureHubConfig EdgeFeatureHubConfig
@inject HistoryClient HistoryClient
@inject NavigationManager NavigationManager

<PageTitle>History</PageTitle>

<table class="table table-hover @(_loaded ? "fade-in" : "")">
    <thead>
        <tr>
            <th>Date & Time</th>
            <th>Task Name</th>
            <th>Log</th>
        </tr>
    </thead>
    <tbody>
        @if (_histories != null)
        {
            @foreach (var history in _histories)
            {
                <tr>
                    <td>@history.created_date</td>
                    <td>@history.item_text</td>
                    <td>@history.text</td>
                </tr>
            }
        }
    </tbody>
</table>

@code {
    private History[]? _histories;
    private bool _loaded;

    protected override async Task OnInitializedAsync()
    {
        _histories = await HistoryClient.GetHistories();
        _histories = _histories.OrderByDescending(x => x.created_date).ToArray();
        _loaded = true;
        
        var environment = Environment.GetEnvironmentVariable("ENVIRONMENT");
        if (environment == "production")
        {
            var fh = await EdgeFeatureHubConfig.NewContext().Build();
            var historyEnabled = fh["history"].IsEnabled;
            if (!historyEnabled)
            {
                NavigationManager.NavigateTo("/notfound");
            }
        }
    }
}