@page "/todolist"
@using ToDoList_Front.Clients
@rendermode InteractiveServer
@inject ItemsClient ItemsClient

<PageTitle>To-Do List</PageTitle>

@if (_items is null)
{
    <p>Loading...</p>
}
else
{
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Text</th>
        <th>Is Completed</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in _items)
    {
    <tr>
        <td>@item.id</td>
        <td>@item.text</td>
        <td>@item.is_completed</td>
    </tr>
    }
    </tbody>
</table>
}

<button @onclick="TestAdd">Add</button>

@code {
    private Item[]? _items;
    
    protected override async Task OnInitializedAsync()
    {
        _items = await ItemsClient.GetItems();
    }

    private async void TestAdd()
    {
        ItemDTO item = new("Test", false, null);
        await ItemsClient.CreateItem(item);
        _items = await ItemsClient.GetItems();
        StateHasChanged();
    }
}