.add-task {
    display: flex;
    background-color: #ffffff;
    align-items: center;
    padding: 5px 8px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 8px;
    width: 100%;
    border-radius: 5px;
    transition: border-color 1s ease-out, box-shadow 1s ease-out;
}

.add-task-text {
    flex-grow: 1;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 5px;
    font-size: 16px;
    height: 33px;
    line-height: 33px;
    padding-left: 7px;
}

.add-task-text:hover {
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.add-task-button {
    background-color: rgba(255, 255, 255, 0);
    color: #757575;
    border: none;
    padding: 4px 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    margin: 4px 0 4px 0;
    cursor: pointer;
    border-radius: 5px;
    height: 33px;
    width: 33px;
}

.add-task-button:hover {
    background-color: rgba(0, 0, 0, 0.06);
}

.add-task-button:active {
    background-color: rgba(0, 0, 0, 0.12);
}