.add-task {
    display: flex;
    background-color: #ffffff;
    align-items: center;
    padding: 5px 8px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 8px;
    width: 100%;
    border-radius: 5px;
    transition: border-color 1s ease-out, box-shadow 1s ease-out;
}

.add-task-text {
    flex-grow: 1;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 5px;
    font-size: 16px;
    height: 33px;
    line-height: 33px;
    padding-left: 6px;
    transition: border 0.15s ease-in-out;
}

.add-task-text:focus {
    border: 1px solid rgba(0, 0, 0, 0.15); !important
}

.add-task-text:hover {
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.add-task-button {
    display: inline-block;
    background-color: #21b76d;
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 0 4px 0;
    cursor: pointer;
    border-radius: 5px;
    height: 33px;
}

.add-task-button:hover {
    background-color: #54ce81;
}