@using ToDoList_Front.Clients
@inject ItemsClient ItemsClient
@inject HistoryClient HistoryClient

<div class="item">
    <input @bind="ItemText" type="text" placeholder="Enter a task..." />
    <button @onclick="Create">Add task</button>
</div>

@code {
    private string ItemText { get; set; } = string.Empty;
    
    [Parameter] public EventCallback OnItemAdded { get; set; }

    private async Task Create()
    {
        if (!string.IsNullOrWhiteSpace(ItemText))
        {
            ItemDto newItem = new ItemDto(ItemText, false, null);
            int createdItemId = await ItemsClient.CreateItem(newItem);
            await OnItemAdded.InvokeAsync();
            await HistoryClient.CreateHistory(new HistoryDto(createdItemId, $"Item {createdItemId} created"));
            ItemText = string.Empty;
        }
    }
}