@using ToDoList_Front.Clients
@inject ItemsClient ItemsClient

<div class="item">
    <input @bind="ItemText" type="text" placeholder="Enter a task..." />
    <button @onclick="Create">Add task</button>
</div>

@code {
    private string ItemText { get; set; } = string.Empty;
    
    [Parameter] public EventCallback OnItemAdded { get; set; }

    private async Task Create()
    {
        if (!string.IsNullOrWhiteSpace(ItemText))
        {
            ItemDTO newItem = new ItemDTO(ItemText, false, null);
            await ItemsClient.CreateItem(newItem);
            await OnItemAdded.InvokeAsync();
            ItemText = string.Empty;
        }
    }
}