.item {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    width: 100%;
    border-radius: 5px;
    transition: border-color 1s ease-out, border-width 1s ease-out, box-shadow 1s ease-out;
}

.item.editing {
    border-color: red;
    border-width: 2px;
    box-shadow: 0 2px 5px rgba(255, 0, 0, 0.1);
}

.item.saved {
    border-color: #00ff00;
    border-width: 2px;
    box-shadow: 0 2px 5px rgba(0, 255, 0, 0.1);
}

.item input[type="checkbox"] {
    margin-right: 10px;
    margin-left: 5px;
    transform: scale(1.5);
}

.item input[type="text"] {
    flex-grow: 1;
    margin-right: 10px;
    border: none;
    font-size: 16px;
}

.item button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.item button:hover {
    background-color: #fa665c;
}

.item p {
    margin-right: 10px;
    flex-grow: 1;
    font-size: 16px;
}