@page "/todolist"
@using ToDoList_Front.Clients
@rendermode InteractiveServer
@inject ItemsClient ItemsClient

<PageTitle>To-Do List</PageTitle>

@if (_items is null)
{
    <p>Loading...</p>
} else if (_items.Length == 0)
{
    <p>No items found.</p>
} else
{
    @foreach (var item in _items)
    {
        <span>
            <input type="checkbox" checked="@item.is_completed" @onchange="() => HandleItemInvert(!item.is_completed, item)" />
            <input type="text" @oninput="@(e => HandleItemUpdate(e.Value?.ToString() ?? string.Empty, item))" value="@item.text" />
            <button @onclick="() => HandleItemDelete(item)">Delete</button>
        </span>
    }
}
<button @onclick="TestAddItem">Add Test Item</button>

@code {
    private Item[]? _items;

    protected override async Task OnInitializedAsync()
    {
        _items = await ItemsClient.GetItems();
    }
    
    private async Task HandleItemDelete(Item item)
    {
        await ItemsClient.DeleteItem(item.id);
        _items = await ItemsClient.GetItems();
        StateHasChanged();
    }
    
    private async Task HandleItemUpdate(string newText, Item item)
    {
        ItemDTO itemDto = new ItemDTO(newText, item.is_completed, item.completed_date);
        await ItemsClient.UpdateItem(item.id, itemDto);
        _items = await ItemsClient.GetItems();
        StateHasChanged();
    }
    
    private async Task HandleItemInvert(bool isCompleted, Item item)
    {
        ItemDTO itemDto = new ItemDTO(item.text, isCompleted, isCompleted ? DateTime.Now : null);
        await ItemsClient.UpdateItem(item.id, itemDto);
        _items = await ItemsClient.GetItems();
        StateHasChanged();
    }
    
    private async Task TestAddItem()
    {
        ItemDTO item = new ItemDTO("Test item", false, DateTime.Now);
        await ItemsClient.CreateItem(item);
        _items = await ItemsClient.GetItems();
        StateHasChanged();
    }
}