.todo-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
}

.todo-list .filter-button {
    display: inline-block;
    background-color: #2a2a2a;
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 0 0 8px 0;
    cursor: pointer;
    border-radius: 5px;
    height: 33px;
    width: 140px;
}

.todo-list .filter-button.inactive {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #1a1a1a;
}

.todo-list .filter-button.inactive:hover {
    background-color: #ececec;
}

.todo-list .filter-button:hover {
    background-color: #3d3d3d;
}

.filters {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 7px 0 7px 0;
}