@page "/todolist"
@using ToDoList_Front.Clients
@rendermode InteractiveServer
@inject ItemsClient ItemsClient

<PageTitle>To-Do List</PageTitle>

<div class="list">
    <CreateItem OnItemAdded="HandleItemAddedOrChanged" />
    <br/>
    @if (_showOnlyIncomplete)
    {
    <button @onclick="ToggleFilter">Show all tasks</button>
    } else
    {
    <button @onclick="ToggleFilter">Hide completed tasks</button>
    }
    @if (_items is null)
    {
        <p>Loading...</p>
    } else if (_items.Length == 0)
    {
        <p>No items found.</p>
    } else
    {
        @foreach (var item in _items)
        {
            if (!_showOnlyIncomplete || !item.is_completed)
            {
                <ListItem Item="@item" OnItemChanged="HandleItemAddedOrChanged" />
            }
        }
    }
</div>

@code {
    private Item[]? _items;
    private bool _showOnlyIncomplete;

    protected override async Task OnInitializedAsync()
    {
        _items = await ItemsClient.GetItems();
    }

    private void ToggleFilter()
    {
        _showOnlyIncomplete = !_showOnlyIncomplete;
    }
    
    private async Task HandleItemAddedOrChanged()
    {
        _items = await ItemsClient.GetItems();
        StateHasChanged();
    }
}