.page[b-0luzft0ica] {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

.content[b-0luzft0ica] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.darkmode[b-0luzft0ica] {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    align-self: flex-start;
    position: absolute;
    top: 0;
    left: 0;
    
    width: 36px;
    height: 36px;
    padding: 8px;
    border-radius: 6px;
    cursor: pointer;
}

.darkmode i[b-0luzft0ica] {
    font-size: 1.2em;
    margin-top: 2px;
}

.darkmode:hover[b-0luzft0ica] {
    background-color: rgba(0, 0, 0, 0.04);
}

.darkmode:active[b-0luzft0ica] {
    background-color: rgba(0, 0, 0, 0.08);
}

.box[b-0luzft0ica] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 205px;
    height: 85px;
    padding: 6px 10px 10px 10px;

    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.box.openNow[b-0luzft0ica] {
    border-color: #00c0d2;
    box-shadow: 0 2px 7px rgba(0, 225, 255, 0.4);
}

.box.soonOpen[b-0luzft0ica] {
    border-color: #d29700;
    box-shadow: 0 2px 7px rgba(255, 174, 0, 0.4);
}

p[b-0luzft0ica] {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.timeToOpen[b-0luzft0ica] {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: -8px;
    color: #111111;
}

.minLeft[b-0luzft0ica] {
    height: 24px;
    font-size: 1em;
}

p.openNow[b-0luzft0ica] {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 4px;
    color: #111111;
}

.time[b-0luzft0ica] {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 4px 10px 4px 10px;
    margin-top: 8px;
    border-radius: 5px;
    gap: 6px;
    cursor: pointer;    
}

.time:hover[b-0luzft0ica] {
    background-color: rgba(0, 0, 0, 0.04);
}

.time:active[b-0luzft0ica] {
    background-color: rgba(0, 0, 0, 0.08);
}

.bi[b-0luzft0ica] {
    color: #656565;
}

.bi-bell-slash-fill[b-0luzft0ica] {
    color: #b00707;
}

.bi-bell-fill[b-0luzft0ica] {
    margin-top: 1px;
}

.bi-sun-fill[b-0luzft0ica] {
    color: #b6b6b6;
}

.currentTime[b-0luzft0ica] {
    font-size: 1em;
    margin-top: 1px;
    color: #505050;

    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

/* Dark mode */

.box.dark[b-0luzft0ica] {
    background-color: rgba(255, 255, 255, 0.075);
    border-color: rgba(255, 255, 255, 0.15);
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0);
}

.box.openNow.dark[b-0luzft0ica] {
    border-color: #00c0d2;
    box-shadow: 0 2px 7px rgba(0, 225, 255, 0);
}

.box.soonOpen.dark[b-0luzft0ica] {
    border-color: #d29700;
    box-shadow: 0 2px 7px rgba(255, 174, 0, 0);
}

p.dark[b-0luzft0ica] {
    color: #fff;
}

.time.dark[b-0luzft0ica] {
    background-color: rgba(255, 255, 255, 0);
}

.time.dark:hover[b-0luzft0ica] {
    background-color: rgba(255, 255, 255, 0.07);
}

.time.dark:active[b-0luzft0ica] {
    background-color: rgba(255, 255, 255, 0.14);
}

.darkmode.dark[b-0luzft0ica] {
    background-color: rgba(255, 255, 255, 0);
}

.darkmode.dark:hover[b-0luzft0ica] {
    background-color: rgba(255, 255, 255, 0.07);
}

.darkmode.dark:active[b-0luzft0ica] {
    background-color: rgba(255, 255, 255, 0.14);
}

.bi.dark[b-0luzft0ica] {
    color: #fff;
}

.bi-bell-slash-fill.dark[b-0luzft0ica] {
    color: #d26c6c;
}

.bi-bell-fill.dark[b-0luzft0ica] {
    color: #c5c5c5;
}

.bi-moon-stars-fill[b-0luzft0ica] {
    color: #606060;
}

.currentTime.dark[b-0luzft0ica] {
    color: #dadada;
}